# Note that the variables prefixed with `NEXT_PUBLIC_` is exposed to the client side.

## Supabase
SUPABASE_PROJECT=
DATABASE_URL=
SHADOW_DATABASE_URL=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_JWT_SECRET=

## Attack service (no / at end of URL)
ATTACK_SERVICE_API_URL=
ATTACK_SERVICE_API_KEY=

## Profile service (no / at end of URL)
PROFILE_SERVICE_API_URL=
PROFILE_SERVICE_API_KEY=

## Auth0
AUTH0_BASE_URL=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
AUTH0_ISSUER_BASE_URL=
AUTH0_SECRET=

## Analytics

# Leave empty to disable
NEXT_PUBLIC_AMPLITUDE_API_KEY=

## Sentry: Leave empty to disable
NEXT_PUBLIC_SENTRY_DSN=
